* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

/* footer starts */

.footer {
    width : 100%;
    text-align: center;
    background-color: gray;
    color : white;
    overflow: hidden;
}

.footer p a {
    text-decoration: none;
    color : inherit;
    transition-duration: .5s;
    overflow: hidden;
}

.footer p a:hover {
    color : lightgreen;
}

/* footer ends */

a {
    text-decoration: none;
}